<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>みんなでおでんきウェブAPI</title>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	</head>
	<body>
		{% include "header.html" %}
		みんなでおでんきウェブAPIはGoogleアカウント、Twitterアカウント、Facebookアカウントと関連付けて利用することができます。
		現在はまずGoogleアカウントが必要ですので、ユーザーにとってはGoogleアカウントとTwitterアカウントもしくはFacebookアカウントを関連付けられるリスクがあります。
		<table border="1px">
			<tr>
				<td>みんなでおでんきユーザー番号</td><td>{{ odenkiId }}</td>
				<td><a href="{{ google_logout_url }}">logout</a></td>
			</tr>
			<tr>
				<td>みんなでおでんきニックネーム</td><td>{{ odenkiNickname }}</td>
				<td><a href="{{ google_logout_url }}">logout</a></td>
			</tr>
			<tr>
				<td>ログイン中のGoogleアカウントのメールアドレス</td><td>{{ googleEmail }}</td>
				<td><a href="{{ google_logout_url }}">logout</a></td>
			</tr>
			<tr>
				<td>ログイン中のGoogleアカウントのユーザー番号</td><td>{{ googleId }}</td>
				<td><a href="{{ google_user_id }}">logout</a></td>
			</tr>
			<tr>
				<td>ログイン中のGoogleアカウントのニックネーム</td><td>{{ googleNickname }}</td>
				<td><a href="{{ google_logout_url }}">logout</a></td>
			</tr>
			<tr>
				<td>Google Docsにアクセスするためのトークン</td>
				<td>{{ docsAccessToken|default:"<a href='/GoogleDocs'>取得</a>していません。" }}</td>
				<td><a href="/GoogleDocs?revoke=1">破棄</a>する。（不安な方は<a href="https://accounts.google.com/b/0/IssuedAuthSubTokens">Googleアカウントの許諾管理ページ</a>から
					削除することもできます。<a href=""></a>）</td>
			</tr>
		</table>
		{% include "footer.html" %}
	</body>
</html>
