<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>みんなでおでんきウェブAPI</title>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	</head>
	<body>
		{% include "header.html" %}
		<p>
			このページから手動でデータを投入することができます。
			データ投入用URLはPOST/GET共通 http://odenkiapi.appspot.com/post です。
			POSTメソッドの場合はJSON形式で投入することも可能です。
			その場合URLのクエリ部分で指定したデータとマージされます。
			Googleアカウントでログインするとデータの編集やより詳しいデータの閲覧ができるようになります。
		</p>
		<script>
			function OnChangedEventHandler() {
				query_string = "";
				field1 = $("#field1").get()[0].value;
				string1 = $("#string1").get()[0].value;
				field2 = $("#field2").get()[0].value;
				string2 = $("#string2").get()[0].value;
				field3 = $("#field3").get()[0].value;
				string3 = $("#string3").get()[0].value;
				field4 = $("#field4").get()[0].value;
				string4 = $("#string4").get()[0].value;
				field5 = $("#field5").get()[0].value;
				string5 = $("#string5").get()[0].value;
				if(field1 != "" && string1 != "") {
					query_string = field1 + "=" + string1;
				}
				if(field2 != "" && string2 != "") {
					query_string += '&' + field2 + "=" + string2;
				}
				if(field3 != "" && string3 != "") {
					query_string += '&' + field3 + "=" + string3;
				}
				if(field4 != "" && string4 != "") {
					query_string += '&' + field4 + "=" + string4;
				}
				if(field5 != "" && string5 != "") {
					query_string += '&' + field5 + "=" + string5;
				}
				$("#query_string").get()[0].value = query_string;
			}

			function Post() {
				var xhr = false;
				if(window.XMLHttpRequest) {
					xhr = new XMLHttpRequest();
				} else if(window.ActiveXObject) {
					try {
						xhr = new ActiveXObject("Msxml2.XMLHTTP");
					} catch(e) {
						xhr = new ActiveXObject("Microsoft.XMLHTTP");
					}
				}
				//if
				//xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
				xhr.onreadystatechange = function() {
					if(this.readyState == 4) {
						$("#response").get()[0].value = this.responseText;
					} else {
						//$("#response").get()[0].value = this.readyState;
					}//if
				}//function
				//alert($("#query_string").get()[0].value);
				xhr.open("POST", "/post?"+$("#query_string").get()[0].value);
				xhr.send($("#postbody").val());
			}//Post

			function Get() {
				var xhr = false;
				if(window.XMLHttpRequest) {
					xhr = new XMLHttpRequest();
				} else if(window.ActiveXObject) {
					try {
						xhr = new ActiveXObject("Msxml2.XMLHTTP");
					} catch(e) {
						xhr = new ActiveXObject("Microsoft.XMLHTTP");
					}
				}
				//if
				//xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
				xhr.onreadystatechange = function() {
					if(this.readyState == 4) {
						$("#response").get()[0].value = this.responseText;
					} else {
						//$("#response").get()[0].value = this.readyState;
					}//if
				}//function
				//alert($("#query_string").get()[0].value);
				xhr.open("GET", "/post?"+$("#query_string").get()[0].value);
				xhr.send($("#postbody").get()[0].value);
			}//Post

		</script>
		<table>
			<tr>
				<td>
				<input name="name" id="field1" onKeyUp="OnChangedEventHandler()"
				placeholder="unitid"/>
				</td>
				<td>
				<input name="value"id="string1" onKeyUp="OnChangedEventHandler()"
				placeholder="10"/>
				</td>
			</tr>
			<tr>
				<td>
				<input name="name" id="field2" onKeyUp="OnChangedEventHandler()"
				placeholder="longitude"/>
				</td>
				<td>
				<input name="value" id="string2" onKeyUp="OnChangedEventHandler()"
				placeholder="123"/>
				</td>
			</tr>
			<tr>
				<td>
				<input name="name" id="field3" onKeyUp="OnChangedEventHandler()"
				placeholder="latitude"/>
				</td>
				<td>
				<input name="value" id="string3" onKeyUp="OnChangedEventHandler()"
				placeholder="40"/>
				</td>
			</tr>
			<tr>
				<td>
				<input name="name" id="field4" onKeyUp="OnChangedEventHandler()"
				placeholder="watt"/>
				</td>
				<td>
				<input name="value" id="string4" onKeyUp="OnChangedEventHandler()"
				placeholder="3000"/>
				</td>
			</tr>
			<tr>
				<td>
				<input name="name" id="field5" onKeyUp="OnChangedEventHandler()"/>
				</td>
				<td>
				<input name="value" id="string5" onKeyUp="OnChangedEventHandler()"/>
				</td>
			</tr>
		</table>
		<p>
			<textarea rows="10" cols="60" id="postbody"
				placeholder='{"unitid" : 10, "longitude" : 123, "latitude" : 40, "watt" : 3000}'></textarea>
		</p>
		<p>
			データを投入するためのURLは http://odenkiapi.appspot.com/post?
			<input type="text" size="70" id="query_string" placeholder="上のフォームに記入すると自動的に生成されます" />です。
		</p>
		<p>
			<input type="button" value="GETメソッドでデータを投入" onclick="Get()"/>
			<input type="button" value="POSTメソッドでデータを投入" onclick="Post()"/>
		</p>
		<p>
			<textarea rows="10" cols="60" id="response" placeholder="GETメソッドもしくはPOSTメソッドでデータを投入すると、サーバからの応答がここに表示されます。"></textarea>
		</p>
		<p>
			投入されたデータは定期的に処理され<a href="http://notes.windy.cx/odenkiview">Google Fusiont Tables</a>に投入されます。
		</p>
	</body>
</html>