*.BASE.*
*.OTHER
*.THIS
*.LOCAL.*
*.class
*.pyc
*.pyo
.bzr
.deployables
credentials.py
google686f6b490a533df7.py
.~*~
*.orig
*.bak
*.BACKUP.*
*.REMOTE.*
bulkloader-log-*
bulkloader-progress-*
bulkloader-results-*
