<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Data</title>
	</head>
	<body>
		{% include "header.html" %}
		<p>
			Dataテーブルの内容を、最近登録されたものから順に表示しています。過去に登録されたものと同一のデータは再利用されますので上位には表示されません。
		</p>
		<table border="1px" summary="Data">
			<tr>
				<th>dataId</th><th>field</th><th>string</th>
			</tr>
			{% for data in all_data %}
			<tr>
				<td>{{ data.dataId|escape }}</td>
				<td>{{ data.field|escape }}</td>
				<td>{{ data.string|escape }}</td>
			</tr>
			{% endfor %}
		</table>
		{% include "footer.html" %}
	</body>
</html>