<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>機器一覧</title>
	</head>
	<body>
		{% include "header.html" %}
		<p>
			このページは機器とそれが接続されているスマートメーターの関連付けに関する情報を表示しています。
			<a href="">関連付けの変更</a>
		</p>
		<table border="1px">
			<tr>
				<th>equipmentId</th><th>equipmentName</th><th>senderIds</th>
			</tr>
			{% for x in xx %}
			<tr>
				<td>{{ x.equipmentId|escape }}</td>
				<td>{{ x.equipmentName|escape }}</td>
				<td>{{ x.enderIds|escape }}</td>
			</tr>
			{% endfor %}
		</table>
		{% include "footer.html" %}
	</body>
</html>
