<table>
	<p>
		「みんなでおでんき」ウェブAPI（version {{ version }} {{ version_datetime }}版)へようこそ 
		{% if user_email %}{{ user_email }}さん{% endif %}
	</p>
	<tr>
		<td><a href="/">Top</a></td>
		<!-- <td><a href="/Joined">Joined</a></td> -->
		<td><a hreF="/Metadata">Metadata</a></td>
		<td><a href="/Sender">Sender</a></td>
		<td><a href="/RawData">RawData</a></td>
		<td><a href="/Data">Data</a></td>
		<td><a href="/Last">Last</a></td>
		<td><a href="/Command">機器へのコマンド</a>
		<td><a href="/Spreadsheet">スプレッドシート</a>
		<td><a href="/OdenkiUser">ユーザー情報</a>
		<td><a href="https://docs.google.com/open?id=0Bw_QuYgBcuXaZmUyNDQzODgtNzMzMi00YTE0LWE3M2MtYTgxMGZmOGUxNzU3">ドキュメント</a>
		{% if googleLoginUrl %}<a href="{{ googleLoginUrl }}">ログイン</a>{% endif %}
		{% if googleLogoutUrl %}<a href="{{ googleLogoutUrl }}">ログアウト</a>{% endif %}
	</tr>
</table>
<hr/>
