<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>みんなでおでんきウェブAPI</title>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	</head>
	<body>
		{% include "header.html" %}
		あなたのログイン情報
		<table border="1px">
			<tr>
				<td>Googleアカウントによるログイン</td><td>{{ google_user_email }}</td>
				<td><a href="{{ google_logout_url }}">logout</a></td>
			</tr>
			<tr>
				<td>Google Docsにアクセスするためのリクエストトークン</td>
				<td>{{ docs_request_token }}</td>
				<td><a href="">削除</a></td>
			</tr>
		</table>
		
		{% include "footer.html" %}
	</body>
</html>
