<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>RawData</title>
	</head>
	<body>
		{% include "header.html" %}
		<p>
			RawDataテーブルの内容を、最近登録されたものから順に表示しています。過去に登録されたものと同一のデータは再利用されますので上位には表示されません。
		</p>
		<table border="1px">
			<tr>
				<th>rawDataId</th><th>path</th><th>parameters</th><th>query</th><th>fragment</th><th>body</th>
			</tr>
			{% for raw_data in all_raw_data %}
			<tr>
				<td>{{ raw_data.rawDataId|escape }}</td>
				<td>{{ raw_data.path|escape }}</td>
				<td>{{ raw_data.parameters|escape }}</td>
				<td>{{ raw_data.query|escape }}</td>
				<td>{{ raw_data.fragment|escape }}</td>
				<td>{{ raw_data.body|escape }}</td>
			</tr>
			{% endfor %}
		</table>
		{% include "footer.html" %}
	</body>
</html>