<html>
	<head>
		<title>スプレッドシート</title>
	</head>
	<body>
		{% include "header.html" %}
		みんなでおでんきに蓄積されたデータはGoogleドキュメント内のスプレッドシートに保存することができます。
		また、Googleドキュメント内の特別なスプレッドシートを介してみんなでおでんきの振る舞いを制御することができます。
		みんなでおでんきは以下のスプレッドシートを使います。
		これらをGoogleドキュメントで削除すると自動的に作りなおされます。
		<table border="1px">
			<tr>
				<td>コレクション名</td><td>{{ folder_title }}</td>
			</tr>
			<tr>
				<td>コレクションID</td><td>{{ folder_id }}</td>
			</tr>
			<tr>
				<td>コレクションへのリンク</td><td><a href="{{ folder_link }}">{{ folder_link }}</a></td>
			</tr>
			<tr>
				<td>スプレッドシート名</td><td>{{ spreadsheet_title }}</td>
			</tr>
			<tr>
				<td>スプレッドシートID</td><td>{{ spreadsheet_id }}</td>
			</tr>
			<tr>
				<td>スプレッドシートへのリンク</td><td><a href="{{ spreadsheet_link }}">{{ spreadsheet_link }}</a></td>
			</tr>
		</table>
		{% include "footer.html" %}
	</body>
</html>
